.cdx-field-label {
	 width: 250px;
	 font-weight: bold;
	 float:  left;
}

.cdx-field-value {
	width: 40% !important;
	float: left;
}

.cswitch {
	float: left !important; 
}

#switch-Pb > .dx-checkbox-container > .dx-checkbox-text {
	color:  #aa17ff;
}

#switch-Cn > .dx-checkbox-container > .dx-checkbox-text {
	color:  #1793ff;
}

#switch-Cd > .dx-checkbox-container > .dx-checkbox-text {
	color:  #ed4049;
}